@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@400;700&family=Roboto:wght@400;900&display=swap');

h1, h2, h3, h4, h5, h6, label {
  font-family: 'Kodchasan', sans-serif;
}

span, p, a, ul, li, tbody, u, thead, div,
input[type="text"],
input[type="radio"],
input[type="checkbox"],
input[type="submit"],
textarea,
select {
  font-family: 'Roboto', sans-serif;
  line-height:30px;
}

.strong {
  font-weight:900;
}

.regular {
  font-weight:400;
}
