@media(max-width:1024px){
  .carousel {
    ul.slides {
      li {
        padding:0 150px
      }
    }
  }
}
@media(max-width:640px){
  .carousel {
    .carousel-right {
      right:10px;
    }
    .carousel-left {
      left:10px;
    }
    ul.slides {
      li {
        padding:0;
      }
    }
  }
}
