@media(max-width:640px){
  #notice, #alert {
    width:300px;
    p {
      font-size:.9rem;
    }
  }
  #internal_use_as_true, #internal_use_as_false {
    width:250px;
    p {
      font-size:.9rem;
    }
  }
}
