@media(max-width:640px){
	 .grid-container {
	   display: inline-block;
	   column-gap: 0;
	   row-gap: 0;
	   justify-content: unset;
	   grid-template-columns: unset;
	   .item {
	   	min-height: auto;
	   }
		.item-1, .item-2, .item-3,
		.item-4, .item-5, .item-6 {
			&.active {
		   		padding:15px;
			}
		 }
	}
}


@media(min-width:1460px) {
	 .grid-container {
		.item-1, .item-2, .item-3,
		.item-4, .item-5, .item-6 {
			&.active {
			   padding-left:100px;
			   padding-right:100px;
			 }
		}
	}
}

