@media(max-width:640px){
	 .grid-container {
		.item-1, .item-2, .item-3,
		.item-4, .item-5, .item-6 {
			&.active {
		   		padding:10px;
			}
		 }
	}
}


@media(min-width:1460px) {
	 .grid-container {
		.item-1, .item-2, .item-3,
		.item-4, .item-5, .item-6 {
			&.active {
			   padding-left:100px;
			   padding-right:100px;
			 }
		}
	}
}

