@media(max-width:640px) {
  .p-50-rp-25 {
    padding:25px;
  }
  .pt-50-rp-15 {
    padding-top:15px;
  }
  .pb-50-rp-15 {
    padding-bottom:15px;
  }
  .pl-50-rp-0 {
    padding-left:0px;
  }
  .pr-50-rp-0 {
    padding-right:0px;
  }
  .ml-25-rp-0 {
    margin-left: 0;
  }
  .mt-50-rp-25 {
    margin-top:25px;
  }
  .mt-30-rp-0 {
    margin-top: 0px;
  }
  .mt-100-rp-50,
  .mt-200-rp-50,
  .mt-300-rp-50 {
    margin-top: 50px;
  }
  .rp-mb-05 {
    margin-bottom:5px;
  }
  .pr-25-rp-0 {
    padding-right: 0px;
  }
  .mb-30-rp-0 {
    margin-bottom: 0px;
  }
  .rp-mb-30 {
    margin-bottom:30px;
  }
}
