@media(max-width:640px){
  .modal-headers-ajaxified {
    h1 {
      font-size:1.2rem;
    }
    svg {
      width: 20px;
      height:20px;
    }
  }
  .modal-links-ajaxified {
    font-size:1rem;
  }
}
