@media(max-width:1024px){
  nav#legallab-navbar {
    padding:10px;
  }
 #legallab-menu {
    display:none;
  }
  #menu_responsive_call {
    display:block;
  }
}


@media(max-width:1024px){
  nav#legallab-navbar {
    padding:10px;
  }
 #legallab-menu {
    display:none;
  }
  #menu_responsive_call {
    display:block;
  }
}

@media(max-width:640px){
  nav#legallab-navbar {
    height:70px;
  }
  #legallab-logo {
    width:150px;
  }
}
