@media(max-width:1460px) {
  .h-vh-rp-max {
    height:100%;
  }
}

@media(max-width:640px) {
  .rp-w-max {
    width:100%;
  }
  .w-quart-rp-max {
    width: 100% !important;
  }
  .h-vh-calc-footer-rp-max {
    height:100%;
  }
  .w-400-rp-300,
  .w-600-rp-300 {
    width:300px;
  }
  .s-60-rp-30 {
    width:30px;
    height:30px;
  }
}



