* { box-sizing: border-box }
html, body {
  min-height: 100vh;
  background-color: #fff;
  box-sizing: border-box;
  margin:0;
}
.break-word {
  word-break: break-word;
}
.pointer {
  cursor:pointer;
}
.hidden-overflow {
  overflow: hidden;
}
.scrollable {
  overflow-y: scroll;
}
.scrollable-x {
  overflow-x: scroll;
}
.overflow-auto {
  overflow:auto;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
a.underline {
  text-decoration: underline;
  &:hover {
    text-decoration: underline;
  }
}
.disabled {
  opacity: .5 !important;
  cursor: not-allowed !important;
}
.hidden {
  display:none;
}
.visible {
  visibility: visible !important;
  opacity: 1 !important;
  transition-property: all;
  transition-duration: .3s;
  transition-timing-function: ease-out;
}
.invisible {
  visibility: hidden !important;
  opacity: 0 !important;
  transition-property: all;
  transition-duration: .3s;
  transition-timing-function: ease-out;
}
.visible-without-t {
  visibility: visible !important;
  opacity: 1 !important;
}
.scale1 {
  transform: scale(1) !important;
  transition-property: all;
  transition-duration: .3s;
  transition-timing-function: ease-out;
}
.translateY {
  transform: translateY(0) !important;
  transition-property: all;
  transition-duration: .3s;
  transition-timing-function: ease-out;
}
.translateX {
  transform: translateX(0) !important;
  transition-property: all;
  transition-duration: .3s;
  transition-timing-function: ease-out;
}
.filter {
  filter: blur(5px);
  background-color:$smooth-grey;
}
.index-1 {
  z-index:1;
}
