.relative {
  position: relative;
}
.absolute {
  position: absolute;
  &.centered {
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
  }
  &.above {
    top: 0; left: 50%;
    transform: translate(-50%, -50%);
  }
  &.above-left {
    top: 0; left: 20%;
    transform: translate(-50%, -50%);
  }
  &.above-right {
    top: 0; right: 0%;
    transform: translate(-50%, -50%);
  }
  &.below {
    bottom: -3%; left: 50%;
    transform: translate(-50%, -50%);
  }
  &.top-right {
    top: 10px;
    right: 10px;
  }
  &.top-left {
    top: 10px;
    left: 10px;
  }
}
.fixed {
  position: fixed;
}