// HEIGHT
.h-max {
  height: 100% !important;
}
.h-vh {
  height: 100vh;
}
.h-content {
  height:max-content;
}
.h-med {
  height: 50% !important;
}
.h-auto {
  height:auto;
}
.h-vh-rp-max {
  height: 100vh;
}
.h-500 {
  height: 500px;
}
.h-vh-calc-footer-rp-max {
  height:calc(100vh - 78px)
}

// WIDTH
.w-min {
  width:min-content !important;
}
.w-content {
  width :max-content !important;
}
.w-fit {
  width :fit-content !important;
}
.w-max {
  width: 100% !important;
}
.w-med {
  width: 50% !important;
}
.w-quart,
.w-quart-rp-max {
  width: 25% !important;
}
.w-120 {
  width:120px;
}
.max-w-300 {
  max-width:300px;
}
.max-w-600 {
  max-width:600px;
}
.w-600-rp-300 {
  width:600px;
}
.w-400,
.w-400-rp-300 {
  width:400px;
}
.wmax-800-rp-300 {
  max-width:800px;
}

// SIZE
.s-500-rp-300 {
  width:500px;
  height:500px;
}
.s-30 {
  width:30px;
  height:30px;
}
.s-60-rp-30 {
  width:60px;
  height:60px;
}
