.p-tall,
.p-tall-rp-small {
  font-size: 1.4rem !important;
}
.p-tall-rp-p {
  font-size: 1.4rem;
}
.p-small {
  font-size: .8rem !important;
}
.p-x-small {
  font-size: .7rem !important;
}
.p-auto {
  font-size:1rem;
}
.text-underline {
  text-decoration: underline;
}
.text-cent {
  text-align:center;
}
.text-left {
  text-align:left;
}
.text-right {
  text-align:right;
}
.text-red {
  color: $red !important;
}
.text-white {
  color: #fff !important;
}
.text-black {
  color: $strong-black !important;
}
.text-light-purple {
  color: $light-purple !important;
}
.text-blue {
  color: $blue !important;
}
.text-light-blue {
  color: $light-blue !important;
}
.text-electric-blue {
  color: $electric-blue !important;
}
.text-grey {
  color: $grey !important;
}
.text-strong-grey {
  color: $strong-grey !important;
}
.text-light-grey {
  color: $light-grey !important;
}
.text-white {
  color: white !important;
}
.text-green {
  color: $green !important;
}
.text-yellow {
  color: $yellow !important;
}
.text-orange {
  color: $orange !important;
}
