<div id="example_modal" class="modal-toggled-ajaxified fixed centered flex-cent">

  <div class="modal-container-ajaxified flex-col-bet-cent black s-500 p-50 radius-10">

    <div class="modal-headers-ajaxified">
      <h1>HEADER</h1>
    </div>

    <div class="modal-content-ajaxified scrollable pr-10 h-max w-max flex-col-cent">
      CONTENT
    </div>

    <div class="modal-links-ajaxified flex-cent">
      <span class="close-modal mr-10 example_modal">close</span>
    </div>

  </div>

</div>
