<div id="map_projects" class="modal-toggled-ajaxified fixed centered flex-cent">

  <div class="modal-container-ajaxified flex-col-bet-cent w-90r-rp-max" style="max-height:600px">

    <div class="modal-content-ajaxified scrollable pr-10 h-max w-max flex-row-wrap-cent">
      <% @projects.each do |project| %>
        <div class="p-10">
          <%= link_to project_path(project) do %>
            <div class="border-orange w-2 background-black p-06 p-small text-white w-min h-max flex-col-bet">
              <%=sanitize cl_image_tag project.imagery.key, width:300, height:200, crop: :thumb, secure: :true %>
              <div class="flex-col-start mt-10">
                <strong class="mt-10"><%= project.title %></strong>
                <span><%= project.actor %></span>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="modal-links-ajaxified flex-cent mt-10">
      <span class="close-modal text-orange pointer map_projects">close</span>
    </div>

  </div>

</div>
