<% if notice %>

  <div id="notice" class="flex-cent">

    <p class="text-white border-orange background-black p-15 radius-50"><%= notice %></p>

  </div>

<% elsif alert %>

  <div id="alert" class="flex-cent">

    <p class="text-white border-red background-black p-15 radius-50"><%= alert %></p>

  </div>

<% end %>
