<footer id="legallab-footer" class="flex-bet-cent">

  <div class="flex-start-cent flex-1 p-rp-small">
    <span class="text-cent"><%= link_to t('footer.legal_notices'), legal_notices_path(lang:params[:lang] || I18n.default_locale), class: "text-black" %></span>
  </div>

  <div class="flex-end flex-1"><%= svg('ubi_x_comics_logo') %></div>

</footer>