<footer id="legallab-footer">

  <%= link_to root_path, class: "absolute" do %>
    <%= svg('ubisoft_white') %>
  <% end %>

  <div class="w-max flex-cent">

    <%= form_tag example_modal_call_path, method: :get, id: "contact_innovation_call", class: "modal-call" do %>

      <%= button_tag "modal example", class: "no-background p-0" %>

    <% end %>

  </div>

</footer>