<footer id="legallab-footer" class="flex-bet-cent">

  <div class="flex-start-cent flex-1 p-rp-small">
    <span class="text-cent">[ --> <%= t('footer.legal_notices') %> IN PROGRESS <-- ]</span>
  </div>

  <div class="flex-end flex-1"><%= svg('ubi_x_comics_logo') %></div>

</footer>