<%= form_tag map_projects_search_path, method: :get, id: "ajax_search", class: "flex-row-wrap-start" do %>
  <div class="relative w-210 mr-10 rp-mb-05">
    <%= select_tag :search_projects, options_for_select(Stake.pluck(:name).sort), :multiple => true, "data-multiple" => "true", 
      placeholder:"#{t('home.form.issues')}", class:"selectize background-black radius-05 white", id:"issues" %>
  </div>

  <div class="relative w-210 mr-10">
    <%= select_tag :search_projects, options_for_select(Media.pluck(:name).sort), :multiple => true, "data-multiple" => "true", 
      placeholder:"#{t('home.form.media')}", class:"selectize background-black radius-05 white", id:"media" %>
  </div>

  <%= button_tag class:"background-black p-10 radius-05 h-fit" do %>
    <i class="fas fa-search text-white"></i>
  <% end %>
<% end %>