<section class="h-vh-calc-footer-rp-max text-white main-background">
  
  <h1><%= t('home.vision_header') %></h1>

  <p class="p-rp-small"><%= t('home.vision_para') %></p>

  <h1><%= t('home.project_header') %></h1>

  <p>[ --> MAP IN PROGRESS <-- ]</p>

</section>
