button {
  border: none;
  cursor:pointer;
  &:active, &:focus {
    outline:none;
  }
}
input[type="submit"] {
  cursor:pointer;
  border:none;
}

.main-btn {
  background-color:$orange;
  color:#000;
  border-radius:5px;
  padding:6px 12px;
  transition-property: all;
  transition-duration: .2s;
  transition-timing-function: ease-out;
  &:hover {
    background-color:$orange-hover;
    transition-property: all;
    transition-duration: .2s;
    transition-timing-function: ease-out;
  }
  &.pt-14 {
    padding:13.5px 12px;
  }
}

.blue-btn {
  background-color:$blue;
  color:#fff;
  border-radius:5px;
  padding:6px 12px;
  transition-property: all;
  transition-duration: .2s;
  transition-timing-function: ease-out;
  &:hover {
    background-color:$blue-hover;
    transition-property: all;
    transition-duration: .2s;
    transition-timing-function: ease-out;
  }
  &.pt-14 {
    padding:13.5px 12px;
  }
}

.excel-btn {
  background-color:$excel-green;
  color:#fff;
  border-radius:5px;
  padding:6px 12px;
  transition-property: all;
  transition-duration: .2s;
  transition-timing-function: ease-out;
}