.carousel {
  width:100%;
  height:100%;
  ul.slides {
    overflow-x: hidden;
    li {
      min-width:100%;
      padding:0 100px;
      img {
        width: 100%;
      }
    }
  }
  .carousel-right {
    top:50%;
    right:20px;
  }
  .carousel-left {
    top:50%;
    left:20px;
  }
  .slides-navigation {
    display: flex;
    justify-content:center;
  }
  input[type="radio"] {
    display: none;
  }
  .slides-navigation label {
    margin: 6px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background:$light-grey;
    cursor:pointer;
    &.active {
      background:$strong-grey;
    }
  }
}

//👇👇👇   HTML CAROUSEL EXAMPLE   👇👇👇//

// <div class="carousel relative">

//   <span class="absolute carousel-right pointer"><%= svg('carousel_arrow_right') %></span>
//   <span class="absolute carousel-left pointer"><%= svg('carousel_arrow_left') %></span>

//   <input type="radio" id="radio-1">
//   <input type="radio" id="radio-2">

//   <ul class="slides no-padding m-0 h-max w-max flex">
//
//     <li class="radio-1 flex-col-cent-start h-max">
//       <%= svg('ubisoft_teacher_black') %>
//       <h4>TITLE</h4>

//       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum tempor tincidunt. Nullam viverra facilisis rhoncus. Vivamus interdum ultricies nisi, sed fringilla felis scelerisque in. Mauris posuere elementum diam quis accumsan.</p>

//       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum tempor tincidunt.</p>
//     </li>

//     <li class="radio-2 flex-col-cent-start h-max">
//       <%= svg('ubisoft_balance_black') %>
//       <h4>TITLE</h4>

//       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum tempor tincidunt. Nullam viverra facilisis rhoncus. Vivamus interdum ultricies nisi, sed fringilla felis scelerisque in. Mauris posuere elementum diam quis accumsan.</p>

//       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum tempor tincidunt.</p>
//     </li>
//
//   </ul>

//   <div class="slides-navigation">
//     <label for="radio-1" class="active"></label>
//     <label for="radio-2"></label>
//   </div>

// </div>
