ul {
  &.unstyle-list {
    list-style-type: none;
  }
  &.no-padding {
    padding-left: 0;
  }
}
ul.alternate_rows {
  li:nth-child(odd) {
    background-color: $magic-grey;
  }
  li:nth-child(even) {
    background-color: #fff;
  }
}
ul li a.hover-underline {
  &:hover {
    text-decoration: underline;
  }
}
ol {
  &.no-padding {
    padding-left: 0;
  }
}
