nav#legallab-navbar {
  width: 100%;
  height:100px;
  padding: 10px 40px;
  background-color: #000;
  position: fixed;
  top: 0;
  z-index: 10;
  &.bg-white {
    background-color: #fff;
  }
  #legallab-logo {
    display:flex;
    justify-content:flex-start;
    align-items:center;
  }
  ul#legallab-menu {
    li {
      cursor: pointer;
      display: inline;
      a {      
        border-radius:50px;
        padding:12px;
      }
      &:hover {
        & a {
          background-color:$orange;
          color:#000 !important;
        }
      }
    }
  }
  // form {
  //   border-radius:100%;
  //   padding:8px 10px;
  //   &.active {
  //     background-color: $black;
  //   }
  // }
  // span#notifications_count {
  //   position:absolute;
  //   top: 0;
  //   right:-5px;
  //   font-size: .7rem;
  //   z-index:1;
  //     &.electric-blue {
  //     background-color:$electric-blue;
  //     color:#fff;
  //     border-radius:25px;
  //     padding:1px 8px 3px 8px;
  //   }
  // }
  // ul#user_notifications li {
  //   &.notification {
  //     color:$black;
  //     .unread {
  //       background-color:$electric-blue;
  //       width:10px;
  //       height:10px;
  //       border-radius:100%;
  //     }
  //   }
  // }
}
