<nav id="legallab-navbar" class="flex-bet-cent relative text-white">

  <%= link_to root_path(lang:params[:lang]) do %>
    <div id="legallab-logo">
      <%= svg('logo_i') %>
      <span class="mr-15"></span>
      <%= svg('logo_t_en') %>
    </div>
  <% end %>

  <span class="main-btn p-tall-rp-p">ADMIN</span>

</nav>